@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome</h1>
    <br />
    <img src="/Spartaglobalstock.jpg" alt="Sparta Logo" width="100%" style="border-radius: 20px;" />
    <br />
    
    
</div>
